.ag-product-calculator {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
    width: 100%;
    height: 100%;
}

.ag-calculator-form {
    grid-area: 1/1/2/2;
}

.ag-calculator-total {
    grid-area: 2/1/3/2;
    position: relative;
    padding: 1rem;
    text-align: center;
    background-color: #77cbfe;
    border-radius: 15px;
}

.ag-order-button-wrapper {
    grid-area: 3/1/4/2;
    text-align: center;
}

.ag-field {
    margin: 0 0 1rem;
}

.ag-field:last-child {
    margin: 0;
}

.ag-field-number {
}

.ag-field-label {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.ag-total-label {
    color: #a65b00;
}

.ag-total-price {
    color: #a65b00;
    font-size: 2rem;
}

.ag-loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    color: red;
}

.ag-error-message {
    background-color: red;
}
@media (min-width: 769px) {
    .ag-product-calculator {
        grid-template-columns: repeat(2, 1fr);
    }

    .ag-calculator-total {
        grid-area: 1/2/2/3;
        align-self: start;
    }

    .ag-order-button-wrapper {
        grid-area: 1/2/2/3;
        align-self: end;
        text-align: end;
    }
}
